{{ form_start(form) }}
    {# Grâce à l'étape 1, form_widget affiche déjà des inputs Bootstrap #}
    {{ form_widget(form) }}
    
    <button class="btn btn-success mt-3 w-100">
        <i class="bi bi-save"></i> {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}